@media(max-width: 817px){

    .container-principal{
        flex-direction: column;
        background-repeat: repeat-x;
    }

    .texto-mensagem{
        text-align: center;
        margin: 60px 0 30px 0;
    }
}